In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import torch.nn as nn
import torch.optim as optim
import torch.utils.data as data

In [4]:
data_train = pd.read_csv('../data/processed/train_FD001.txt', sep=' ', header=None)
data_test = pd.read_csv('../data/processed/test_FD001.txt', sep=' ', header=None)
data_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,1,0.459770,0.166667,0.183735,0.406802,0.309757,1.0,0.726248,0.242424,0.109755,0.369048,0.633262,0.205882,0.199608,0.363986,0.333333,0.713178,0.724662
1,1,2,0.609195,0.250000,0.283133,0.453019,0.352633,1.0,0.628019,0.212121,0.100242,0.380952,0.765458,0.279412,0.162813,0.411312,0.333333,0.666667,0.731014
2,1,3,0.252874,0.750000,0.343373,0.369523,0.370527,1.0,0.710145,0.272727,0.140043,0.250000,0.795309,0.220588,0.171793,0.357445,0.166667,0.627907,0.621375
3,1,4,0.540230,0.500000,0.343373,0.256159,0.331195,1.0,0.740741,0.318182,0.124518,0.166667,0.889126,0.294118,0.174889,0.166603,0.333333,0.573643,0.662386
4,1,5,0.390805,0.333333,0.349398,0.257467,0.404625,1.0,0.668277,0.242424,0.149960,0.255952,0.746269,0.235294,0.174734,0.402078,0.416667,0.589147,0.704502

In [6]:
data_train.rename(columns={0: 'ID', 1: 'Cycles'}, inplace=True)
data_train["RUL"] = data_train.groupby("ID")["Cycles"].transform(lambda x: x.max() - x)
data_test.rename(columns={0: 'ID', 1: 'Cycles'}, inplace=True)
data_test["RUL"] = data_test.groupby("ID")["Cycles"].transform(lambda x: x.max() - x)
data_train.head()

,ID,Cycles,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,RUL
0,1,1,0.459770,0.166667,0.183735,0.406802,0.309757,1.0,0.726248,0.242424,0.109755,0.369048,0.633262,0.205882,0.199608,0.363986,0.333333,0.713178,0.724662,191
1,1,2,0.609195,0.250000,0.283133,0.453019,0.352633,1.0,0.628019,0.212121,0.100242,0.380952,0.765458,0.279412,0.162813,0.411312,0.333333,0.666667,0.731014,190
2,1,3,0.252874,0.750000,0.343373,0.369523,0.370527,1.0,0.710145,0.272727,0.140043,0.250000,0.795309,0.220588,0.171793,0.357445,0.166667,0.627907,0.621375,189
3,1,4,0.540230,0.500000,0.343373,0.256159,0.331195,1.0,0.740741,0.318182,0.124518,0.166667,0.889126,0.294118,0.174889,0.166603,0.333333,0.573643,0.662386,188
4,1,5,0.390805,0.333333,0.349398,0.257467,0.404625,1.0,0.668277,0.242424,0.149960,0.255952,0.746269,0.235294,0.174734,0.402078,0.416667,0.589147,0.704502,187

In [16]:
print(data_train[["RUL"]].min(),data_train[["RUL"]].max(),data_train[["RUL"]].mean())

RUL    0
dtype: int64 RUL    361
dtype: int64 RUL    107.807862
dtype: float64

In [22]:

window_size = 30
def create_Sets(data_train, window_size):
    X = []
    Y = []
    # Agrupamos por ID de motor
    for j, group in data_train.groupby("ID"):
        group = group.sort_values("Cycles")
        features = group.iloc[:, 2:-1].values  # columnas 2 hasta penÃºltima (sin ID, Cycles, ni RUL)
        rul_values = group["RUL"].values
        
        if len(group) >= window_size:
            for i in range(len(group) - window_size + 1):
                X.append(features[i:i + window_size])
                Y.append(rul_values[i + window_size - 1])
        else:
            print(f"Warning: Unit {j} has less than {window_size} cycles")
    X = np.array(X)
    Y = np.array(Y)
    return torch.tensor(X, dtype=torch.float32), torch.tensor(Y[:, None], dtype=torch.float32)
X_train, Y_train = create_Sets(data_train, window_size) 
X_test, Y_test = create_Sets(data_test, window_size)

In [23]:
Y_train.shape

torch.Size([17731, 1])

In [24]:
class Predictions(nn.Module):
    def __init__(self):
        super().__init__()
        self.lstm = nn.LSTM(input_size=17, hidden_size=50, num_layers=1, batch_first=True)
        self.linear = nn.Linear(50, 1)
    def forward(self, x):
        x, _ = self.lstm(x)
        # extract only the last time step
        x = x[:, -1, :]
        x = self.dropout(x)
        x = self.linear(x)
        return x

In [25]:

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print("Usando dispositivo:", device)

model = Predictions().to(device)
optimizer = optim.Adam(model.parameters())
loss_fn = nn.MSELoss()

X_train = X_train.to(device)
Y_train = Y_train.to(device)
X_test = X_test.to(device)
Y_test = Y_test.to(device)

loader = data.DataLoader(data.TensorDataset(X_train, Y_train), shuffle=True, batch_size=8)

n_epochs = 100
for epoch in range(n_epochs):
    model.train()
    for X_batch, y_batch in loader:
        X_batch = X_batch.to(device)
        y_batch = y_batch.to(device)

        y_pred = model(X_batch)
        loss = loss_fn(y_pred, y_batch)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
    model.eval()
    with torch.no_grad():
        y_pred = model(X_train)
        train_rmse = torch.sqrt(loss_fn(y_pred, Y_train)).item()
        y_pred = model(X_test)
        test_rmse = torch.sqrt(loss_fn(y_pred, Y_test)).item()
    print("Epoch %d: train RMSE %.4f, test RMSE %.4f" % (epoch, train_rmse, test_rmse))

Usando dispositivo: cpu
Epoch 0: train RMSE 63.5278, test RMSE 49.3951
Epoch 1: train RMSE 40.9871, test RMSE 45.6076
Epoch 2: train RMSE 36.8801, test RMSE 45.5412
Epoch 3: train RMSE 33.3499, test RMSE 54.0674
Epoch 4: train RMSE 31.9285, test RMSE 50.1126
Epoch 5: train RMSE 30.9069, test RMSE 49.1786
Epoch 6: train RMSE 31.0170, test RMSE 49.6661
Epoch 7: train RMSE 30.6399, test RMSE 50.2926
Epoch 8: train RMSE 30.4820, test RMSE 53.0578
Epoch 9: train RMSE 30.2342, test RMSE 51.0549
Epoch 10: train RMSE 30.5898, test RMSE 52.6680
Epoch 11: train RMSE 31.5044, test RMSE 55.6143
Epoch 12: train RMSE 31.0242, test RMSE 55.1712
Epoch 13: train RMSE 29.7763, test RMSE 53.8219
Epoch 14: train RMSE 29.6835, test RMSE 49.4288
Epoch 15: train RMSE 30.1368, test RMSE 54.6869
Epoch 16: train RMSE 29.9295, test RMSE 49.1723
Epoch 17: train RMSE 29.7743, test RMSE 51.6172
Epoch 18: train RMSE 30.5621, test RMSE 46.7371
Epoch 19: train RMSE 29.7645, test RMSE 50.9616
Epoch 20: train RMSE 29.7116, test RMSE 48.0047
Epoch 21: train RMSE 28.9904, test RMSE 51.0157
Epoch 22: train RMSE 29.1672, test RMSE 51.9283
Epoch 23: train RMSE 29.4314, test RMSE 49.9265
Epoch 24: train RMSE 29.0041, test RMSE 53.1277
Epoch 25: train RMSE 28.7347, test RMSE 49.5970
Epoch 26: train RMSE 30.0619, test RMSE 46.3436
Epoch 27: train RMSE 29.0124, test RMSE 53.9377
Epoch 28: train RMSE 28.2921, test RMSE 49.1868
Epoch 29: train RMSE 29.5763, test RMSE 46.3110
Epoch 30: train RMSE 27.9776, test RMSE 48.3048
Epoch 31: train RMSE 27.7377, test RMSE 48.7328
Epoch 32: train RMSE 27.7029, test RMSE 50.9876
Epoch 33: train RMSE 27.0156, test RMSE 50.2841
Epoch 34: train RMSE 26.9756, test RMSE 50.0784
Epoch 35: train RMSE 28.0474, test RMSE 48.7153
Epoch 36: train RMSE 26.9339, test RMSE 50.6913
Epoch 37: train RMSE 27.0749, test RMSE 51.2913
Epoch 38: train RMSE 27.7058, test RMSE 53.3334
Epoch 39: train RMSE 27.2144, test RMSE 53.3384
Epoch 40: train RMSE 27.5725, test RMSE 51.6644
Epoch 41: train RMSE 25.8537, test RMSE 49.9381
Epoch 42: train RMSE 27.3019, test RMSE 47.2849
Epoch 43: train RMSE 26.1043, test RMSE 51.6268
Epoch 44: train RMSE 26.5254, test RMSE 48.1069
Epoch 45: train RMSE 26.6787, test RMSE 50.8609
Epoch 46: train RMSE 25.1943, test RMSE 50.0786
Epoch 47: train RMSE 25.1965, test RMSE 50.2047
Epoch 48: train RMSE 25.8077, test RMSE 49.3391
Epoch 49: train RMSE 24.5305, test RMSE 49.7317
Epoch 50: train RMSE 23.6770, test RMSE 48.8171
Epoch 51: train RMSE 23.9646, test RMSE 51.3487
Epoch 52: train RMSE 27.4919, test RMSE 51.6487
Epoch 53: train RMSE 24.7759, test RMSE 50.9740
Epoch 54: train RMSE 24.4164, test RMSE 45.5767
Epoch 55: train RMSE 26.3579, test RMSE 46.0749
Epoch 56: train RMSE 22.9991, test RMSE 47.5309
Epoch 57: train RMSE 21.5197, test RMSE 50.8361
Epoch 58: train RMSE 21.8682, test RMSE 48.6997
Epoch 59: train RMSE 22.9816, test RMSE 47.0718
Epoch 60: train RMSE 19.8535, test RMSE 50.2098
Epoch 61: train RMSE 19.6301, test RMSE 50.5810
Epoch 62: train RMSE 20.1998, test RMSE 50.0625
Epoch 63: train RMSE 21.1913, test RMSE 51.3329
Epoch 64: train RMSE 17.7457, test RMSE 49.4510
Epoch 65: train RMSE 18.4914, test RMSE 49.2335
Epoch 66: train RMSE 18.0883, test RMSE 49.9060
Epoch 67: train RMSE 19.2111, test RMSE 49.1523
Epoch 68: train RMSE 16.8655, test RMSE 49.4725
Epoch 69: train RMSE 17.2574, test RMSE 47.8047
Epoch 70: train RMSE 18.8081, test RMSE 49.2386
Epoch 71: train RMSE 17.2463, test RMSE 49.7247
Epoch 72: train RMSE 16.3052, test RMSE 48.6425
Epoch 73: train RMSE 16.8867, test RMSE 47.6604
Epoch 74: train RMSE 16.6652, test RMSE 47.5817
Epoch 75: train RMSE 17.0350, test RMSE 49.6948
Epoch 76: train RMSE 20.2083, test RMSE 47.5327
Epoch 77: train RMSE 15.8801, test RMSE 51.2892
Epoch 78: train RMSE 15.6670, test RMSE 47.8746
Epoch 79: train RMSE 16.1237, test RMSE 47.2435
Epoch 80: train RMSE 14.6694, test RMSE 50.1794
Epoch 81: train RMSE 19.3416, test RMSE 49.5029
Epoch 82: train RMSE 29.8448, test RMSE 47.7989
Epoch 83: train RMSE 14.6061, test RMSE 46.7994
Epoch 84: train RMSE 15.3669, test RMSE 50.2645
Epoch 85: train RMSE 13.5042, test RMSE 49.7703
Epoch 86: train RMSE 13.7792, test RMSE 48.9696
Epoch 87: train RMSE 12.9445, test RMSE 48.3797
Epoch 88: train RMSE 17.6218, test RMSE 48.8273
Epoch 89: train RMSE 14.0880, test RMSE 47.4022
Epoch 90: train RMSE 13.3281, test RMSE 48.4165
Epoch 91: train RMSE 21.6040, test RMSE 49.2304
Epoch 92: train RMSE 13.6323, test RMSE 48.7549
Epoch 93: train RMSE 13.1182, test RMSE 49.6224
Epoch 94: train RMSE 14.3736, test RMSE 47.1530
Epoch 95: train RMSE 11.9975, test RMSE 46.6752
Epoch 96: train RMSE 13.3514, test RMSE 49.6677
Epoch 97: train RMSE 14.2959, test RMSE 49.1742
Epoch 98: train RMSE 11.3486, test RMSE 48.9202
Epoch 99: train RMSE 11.3314, test RMSE 47.8191